Thumbs.db
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*.lastbuildstate
*_i.c
*_p.c
*.ncb
*.sln.docstates
*.tlb
*.idb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.sdf
*.ipch
*.opensdf
